<?xml version="1.0"?>
<model>
    <name>body_urdf_files</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
        <name>Abeer Khalifa</name>
        <email>youremail@example.com</email>
    </author>
    <description>
        Visual and Collision Humanoid model.
    </description>
</model>

